notebooks/
outputs/
private/
scripts/

*.docker*
.buildkite
.git*/
.py*/
.venv/
.vscode/

**/logs/
**/*.log
**/*.zip
**/evaluate_*/
**/evaluate/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.egg-info/
